<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/flash-messages') %>
    <%- body -%>
    <% if(title === 'Posts Index') { %>
    <script src="/javascripts/post-index.js"></script>
    <% } %>
</body>
</html>