<% layout('layouts/boilerplate') -%>
    <h1><%= title %></h1>
    <form action="/posts" method="GET">
        <input type="text" id="search" placeholder="Search" name="search">
    <input type="submit">
</form>
    <p>Welcome to <%= title %></p>

